@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"), url("fonts/segoeui.ttf") format("truetype"),
}

@font-face {
    font-family: "Segoe MDL2 Assets";
    src: local("Segoe MDL2 Assets"), url("fonts/segoemdl2.ttf") format("truetype"),
}

body {
    font-family: "Segoe UI";
    user-select: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    color: rgb(50, 49, 48);
    margin: 10px;
    border-radius: 2px;
}

h1,
h2,
h3 {
    font-weight: 400;
    margin: 0px;
}

h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-right: 5px;
    margin-left: 10px;
    display: inline-block;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.version {
    font-size: 10px;
}

.head {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate_remind {
    margin-top: 10px;
}

.line {
    width: 100%;
    color: #ffffff;
}

.group>* {
    display: block;
}

.control.checkbox {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    margin-bottom: 5px;
}

.control.checkbox input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.control.checkbox input+span {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(50, 49, 48);
    border-radius: 2px;
    transition-property: background, border, border-color;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
}

.control.checkbox input+span::after {
    position: absolute;
    color: rgb(96, 94, 92);
    font-family: "Segoe MDL2 Assets";
    content: "\E001";
    width: 20px;
    height: 20px;
    text-align: center;
    display: none;
}

.control.checkbox input:checked+span::after {
    display: block;
    color: white;
}

.control.checkbox:hover input+span::after {
    display: block;
}

.control.checkbox input:checked+span {
    background-color: rgb(85, 44, 183);
    border-color: rgb(85, 44, 183);
}

.control.checkbox:hover input:checked+span {
    background-color: rgb(65, 34, 139);
    border-color: rgb(65, 34, 139);
}

.password {
    display: flex;
    align-items: center;
}

#passwordInput {
    width: 250px;
}

.viewPassword {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

#btnCopy {
    margin-left: 10px;
    background-color: #05eafa;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: Trebuchet MS;
    border-radius: 42px;
    font-weight: bold;
}

#btnCopy:hover {
    background-color: #109fa6;
}

#btnGenerate {
    background-color: rgb(85, 44, 183);
    border: none;
    color: white;
    margin-top: 10px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-family: Trebuchet MS;
    border-radius: 5px;
    font-weight: bold;
}

#btnGenerate:hover {
    background-color: rgb(57, 26, 129);
}

#btnGenerate:disabled {
    pointer-events: all;
    cursor: not-allowed;
    background-color: rgb(180, 163, 219);
}

#btnReminder {
    margin-left: 10px;
    background-color: #f70f22;
    border: none;
    color: white;
    margin-top: 10px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    font-family: Trebuchet MS;
    border-radius: 5px;
}

#btnReminder:hover {
    background-color: #be0a19;
}

#reminder:disabled {
    pointer-events: all;
    cursor: not-allowed;
    background-color: #fc9099;
}

.exp {
    color: rgb(160, 160, 160);
}